.about_plane {
    display: flex;
    flex-direction: column;
}
.about_plane h1 {
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    margin: 1em;
}

.back {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;   
}

.back a {
    font-size: 18px;
    color: #000000;
    font-weight: 400;
}
.back a:hover {
    color: #00519d;
}
.back img {
    width: 15px;
    height: 22px;
}

.about_plane__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about_plane__wrapper div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 1em;
}
.about_plane__wrapper div img {
    width: 500px;
    height: 282px;
}
.about_plane__wrapper div ul {
    list-style-type: square;
}
.about_plane__wrapper div ul li {
    padding-top: 10px;
    color: #00519d;
    font-size: 22px;
}
.about_plane__wrapper div ul li:first-child{
    padding-top: 0;
}

.about_plane__wrapper p {
    color: #000000;
    font-size: 18px;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 1em;
}

table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 5px;
    background: #E1F0FF;
    border-radius: 20px;
    margin-bottom: 1em;
    }
    th {
    font-size: 22px;
    font-weight: 400;
    padding: 12px 10px;
    border-bottom: 2px solid #6699CC;
    color: #6699CC;
    }
    tbody tr{
    border-bottom: 2px solid #6699CC;
    }
    tbody tr:last-child {
        border: none;
    }
    td {
    padding: 10px;
    color: #8D8173;
    border-right: 2px solid #6699CC;
    }
    td:last-child {
        border: none;
    }

    @media screen and (max-width: 1024px) {
        .about_plane h1 {
            font-size: 26px;
        }
    }

    @media screen and (max-width: 990px) {
        .about_plane__wrapper div img {
            width: 400px;
            height: 230px;
        }
    }

    @media screen and (max-width: 768px) {
        .about_plane__wrapper div img {
            width: 200px;
            height: 113px;
        }
        .about_plane__wrapper div ul {
            list-style-type: none;
            margin-left: 5px;
        }
        .about_plane__wrapper div ul li {
            font-size: 16px;
        }
    }